OPENAI_API_KEY=
PORT=8787
# pgvector Postgres
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=ragbot
PGUSER=postgres
PGPASSWORD=postgres
VECTOR_DIM=1536
DEFAULT_SITE_URL=https://hutechsolutions.com/
AUTO_INDEX_ON_START=true